.form__activity {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 358px;
    color: #000000;
    margin: 0 36px 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 13px 0;
    height: 27px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .form__activity {
        margin: 0 22px 45px;
    }
}